body {
    background:rgb(224, 222, 224);
    margin: auto;
    max-width: 900px;

}
.title {
    color: rgb(11, 4, 17);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-style: italic;
    text-align: center;

}
.subtitle {
    color: rgba(95, 10, 56, 0.795);
}
.post {
    background: #fff;
    padding: 15px;
    border: 3px solid black;
    border-radius: 15px;
    margin-bottom: 15px;
    font-family: Verdana;
    text-align: left;
}
.video {
    text-align: center;

}